Randy Stauner <rwstauner@cpan.org> <randy@magnificent-tears.com>
Ricardo Signes <rjbs@cpan.org>
Nathan Gary Glenn <nglenn@cpan.org> <garfieldnate@gmail.com>
David Golden <dagolden@cpan.org> <xdg@xdg.me>
